.main {
  display: flex;
  margin: 50px;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}

.meWrapper {
  display: flex;
  justify-content: center;
}

.me {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 999px;
}

.header {
  align-self: center;
  margin-left: 100px;
}

@media (max-width: 900px) {
  .header {
    margin: 0;
  }
}
